* {
  margin: 0;
  padding: 0;
  border: 0; }

*:focus {
  outline: none; }

a:link {
  color: white;
  text-decoration: none; }

a:visited {
  color: white;
  text-decoration: none; }

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  background: #ffcc66;
  padding: 50px; }

main {
  max-width: 1100px;
  margin: 0 auto;
  background: white;
  border-radius: 7px;
  box-shadow: 0px 0px 49px -18px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #f2f2f2; }
  main h1 {
    font-size: 24px;
    font-weight: 400;
    color: #707584; }

#cardSection {
  width: 280px;
  padding: 50px; }
  #cardSection h1 {
    margin-bottom: 50px;
    padding-left: 20px; }
  #cardSection #cards li {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin-bottom: 40px;
    list-style: none;
    border: solid 2px #e1e1e1;
    transition: all 200ms ease-in;
    transform: scale(1);
    cursor: pointer; }
    #cardSection #cards li:hover {
      border: solid 5px #8393CA;
      transition: all 200ms ease-in;
      transform: scale(1.1); }
    #cardSection #cards li p, #cardSection #cards li img {
      color: #cccccc;
      margin-bottom: 15px; }
  #cardSection .active {
    border: solid 5px #8393CA !important; }

#balanceSection {
  width: 620px;
  min-width: auto;
  background: white;
  padding: 50px;
  border-radius: 0px 7px 7px 50px / 0px 7px 7px 0px; }
  #balanceSection header {
    border-bottom: 1px solid #cccccc;
    display: flex;
    height: 90px;
    margin-bottom: 50px; }
    #balanceSection header .balance {
      margin-left: auto;
      font-size: 36px;
      font-weight: 700;
      margin-top: -7px; }
    #balanceSection header .cents {
      font-size: 22px;
      position: relative;
      top: -10px; }
  #balanceSection #transactionList li {
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; }
    #balanceSection #transactionList li div {
      flex-grow: 1; }
      #balanceSection #transactionList li div h2 {
        color: #444751;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 10px; }
      #balanceSection #transactionList li div p {
        color: #cccccc;
        font-size: 14px; }
    #balanceSection #transactionList li .transactionIcons {
      flex-grow: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      border: solid 2px #cccccc;
      border-radius: 30px;
      font-size: 22px;
      font-weight: 700;
      margin-right: 30px;
      margin-top: 15px; }
      #balanceSection #transactionList li .transactionIcons .plus {
        display: block;
        margin-top: -6px; }
      #balanceSection #transactionList li .transactionIcons .minus {
        display: block;
        margin-top: -7px; }
    #balanceSection #transactionList li .transactionValue {
      font-size: 18px;
      font-weight: 700;
      color: #66cc33;
      margin-top: 15px; }
